[Cc]lient 0 Files/
[Cc]lient 1 Files/
[Cc]lient 2 Files/
[Cc]lient 3 Files/
[Cc]lient 4 Files/
[Cc]lient 5 Files/
[Ff]iles/
[Cc]hunkstempofolder/
[Oo]utputs/out.*
initFiles.txt
hashcatalog.txt
cache.txt
a.exe